/* Define custom font-family properties on the :root element */
:root {
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set the font-family of the body to font-family-base */
body {
  font-family: var(--font-family-base);
}

/* Set the font-family of all heading tags (h1, h2, h3, h4, h5, h6) to font-family-title */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}

