/* Define custom font-size properties on the :root element */
:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;
}

/* Set the font size of the html element to 62.5% of its normal size */
html {
  font-size: 62.5%; /* 62.5% of the default font size (16px) equals 10px */
}

/* Set the font size of all elements in the body to font-size-medium */
body {
  font-size: var(--font-size-medium);
}

